#content-info-general #content-info-body #content-info-text #mujeres_graficas_rrss,
#content-info-general #content-info-body #content-info-text #mujeres_graficas_medios {
    justify-content: space-between;
    margin: 3rem 0;
}

#content-info-general #content-info-body #content-info-text #mujeres_graficas_rrss > div,
#content-info-general #content-info-body #content-info-text #mujeres_graficas_medios > div {
    width: 30%;
    padding: 0;
}

#content-info-general #content-info-body #content-info-text #mujeres_graficas_rrss > div .top_icon,
#content-info-general #content-info-body #content-info-text #mujeres_graficas_medios > div .top_icon {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 1rem;
    margin-bottom: 1rem;
    height: 90px;
    flex-wrap: nowrap;
}

#content-info-general #content-info-body #content-info-text #mujeres_graficas_rrss > div .top_icon img {
    max-height: 30px;
    width: 100%;
    margin-bottom: 1rem;
}

#content-info-general #content-info-body #content-info-text #mujeres_graficas_medios > div .top_icon img {
    max-height: 40px;
    width: 100%;
    margin-bottom: 1rem;
}

#content-info-general #content-info-body #content-info-text #mujeres_graficas_rrss > div .top_icon span,
#content-info-general #content-info-body #content-info-text #mujeres_graficas_medios > div .top_icon span {
    padding: 0;
    line-height: 1;
    text-align: center;
}

#content-info-general #content-info-body #content-info-text #mujeres_graficas_rrss > div > div:last-child,
#content-info-general #content-info-body #content-info-text #mujeres_graficas_medios > div > div:last-child {
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
}
#content-info-general #content-info-body #content-info-text #mujeres_graficas_rrss > div > div:last-child b,
#content-info-general #content-info-body #content-info-text #mujeres_graficas_medios > div > div:last-child b {
    color: var(--color-item-green);
}
#content-info-general #content-info-body #content-info-text #mujeres_graficas_rrss > div > div:last-child span,
#content-info-general #content-info-body #content-info-text #mujeres_graficas_medios > div > div:last-child span {
    line-height: 1;
}

#content-info-general #content-info-body #content-info-text p .num_data {
    font-size: 1.3rem;
    font-weight: bolder;
    color: var(--color-item-green);
    font-family: 'Roboto-bold';
    font-size: 1.25rem;
}

#content-info-general #content-info-body #content-info-text img.grafina_linea {
    width: 100%;
}

#content-info-general #content-info-body #content-info-text .content-both-mobile .data-float-right {
    border-top: 4px solid var(--color-item-green);
    border-bottom: 4px solid var(--color-item-green);
}

#content-info-general #content-info-body #content-info-dato > div {
    border-top-color: var(--color-item-green);
    border-bottom-color: var(--color-item-green);
}


hr.double-top {
    border-top: 4px double var(--color-boder-80);
    color: transparent;
}

@media (max-width: 768px) {
    #content-info-general #content-info-body #content-info-text ul li:last-child {
        padding-bottom: 0;
    }
    .br-hide-mobile {
        display: none;
    }
}

@media (max-width: 600px) {

    #content-info-general #content-info-body #content-info-text #mujeres_graficas_rrss,
    #content-info-general #content-info-body #content-info-text #mujeres_graficas_medios {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    #content-info-general #content-info-body #content-info-text #mujeres_graficas_rrss > div,
    #content-info-general #content-info-body #content-info-text #mujeres_graficas_medios > div {
        width: 100%;
        padding: 0;
        margin: 1.5rem 0;
    }
    #content-info-general #content-info-body #content-info-text #mujeres_graficas_rrss > div .top_icon,
    #content-info-general #content-info-body #content-info-text #mujeres_graficas_medios > div .top_icon {
        justify-content: flex-end;
    }
    #content-info-general #content-info-body #content-info-text #mujeres_graficas_rrss > div .top_icon img, #content-info-general #content-info-body #content-info-text #mujeres_graficas_medios > div .top_icon img {
        margin-bottom: 1rem;
    }
}